*/bin
# .NET build artifacts
*.obj
*.exe
*.dll
*.pdb
*.userprefs
*.vscode
*.vs
*.suo
*.cache
*.bak
*.tmp
*.log
*.npm
*.nupkg
*.pfx
*.snk
*.swp
*.sln.docstates
*.suo
*.user
*.vssscc
*.vspscc
*.vstemplate
*.vssscc
*.vspscc
*.vstemplate
*.vsix
*.vsixmanifest
*.vssettings
*.vsssln
*.vsmdi
*.vsmacros
*.vsps
/UrlToEmailTemplate/obj
